<hr>

<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <img src="/public/images/logo.png" alt="Logo">
    </div>

    <div class="footer-links">
      <a href="#">الرئيسية</a>
      <a href="#">المنتجات</a>
      <a href="#">الأقسام</a>
      <a href="#">اتصل بنا</a>
    </div>

    <div class="footer-copy">
      <p>© 2025 جميع الحقوق محفوظة - Nassamat Bladi</p>
    </div>
  </div>
</footer>
