<header>
  <nav>
    <div class="logo">
      <img src="../../public/images/logo nassamat bladi copie.png" alt="nassamat Beladi" width="120">
    </div>
    <div class="nav-links">
      <a href="#" class="nav-link" data-page="home">الرئيسية</a>
      <a href="#" class="nav-link" data-page="products">المنتجات</a>
      <a href="#" class="nav-link" data-page="categories">الأقسام</a>
      <a href="#" class="nav-link" data-page="users">المستخدمين</a>
      <a href="#" class="nav-link" data-page="orders">الطلبات</a>
      <a href="#" class="nav-link" data-page="coupons">الكوبونات</a>
    </div>
  </nav>
</header>
<hr>
